::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: #1e2b38;
}
::-webkit-scrollbar-thumb {
  background-color: #2c3f52;
}
.header {
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header ul {
  text-align: left;
  display: flex;
  margin: 0px;
  overflow: hidden;
}

.header ul li {
  list-style: none;
  display: inline-flex;
}

.header ul li a {
  display: flex;
  color: #d1d5db;
  font-size: 14px;
  font-family: "Inter var", sans-serif;
  font-weight: 500;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.header ul li a:hover {
  background-color: rgb(209, 213, 219, 0.05);
  border-radius: 10px;
}
.a-logo {
  height: 70px;
  width: 70px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.li-logo {
  height: 70px;
  padding: 0;
}
.header-logo {
  padding: 0;
  margin: 0;
  height: 70px;
}
.pro {
  margin: 5px;
  color: #121a22;
  background-color: #fbbf24;
  padding: 4px;
  border-radius: 5px;
  font-weight: 550;
}
h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h1parte1 {
  display: flex;
  color: #f9fafb;
  font-family: "lexend", sans-serif;
  font-size: 72px;
  font-weight: 300;
  justify-content: center;
  margin-bottom: 5px;
  position: relative;
}

.h1parte2 {
  display: flex;
  color: #9dc4fc;
  font-family: "lexend", sans-serif;
  font-size: 72px;
  font-weight: 700;
  justify-content: center;
  background-image: url(pencil-stroke-dark.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 388px;
  height: 90px;
}
.middle {
  display: flex;
  margin-top: 60px;
  padding-left: 62px;
  padding-right: 62px;
  margin-top: 96px;
  margin-bottom: 96px;
  justify-content: space-between;
}
.video {
  border-radius: 15px;
  float: right;
}

h2 {
  color: white;
  font-family: "Inter var", sans-serif;
  font-weight: 300;
  font-size: 18px;
}
.h2workshop {
  font-weight: 700;
  font-style: italic;
}
.section1 {
  display: flex;
  display: table-row;
  padding-right: 40px;
  justify-self: left;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: left;
}
.button1 {
  margin: 8px;
  background-color: #cdd8e4;
  font-family: "Inter var", sans-serif;
  color: #374151;
  border: none;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
}
.button2 {
  margin: 8px;
  background-color: #2563eb;
  font-family: "Inter var", sans-serif;
  color: white;
  border: none;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
}
.alunos {
  display: flex;
  border: 0.2px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 16px;
  margin-top: 100px;
  flex-direction: column;
}
h3 {
  font-family: "Inter var", sans-serif;
  color: #d1d5db;
  font-weight: 400;
  font-size: 16px;
  margin: 0px;
}
.h3parte2 {
  font-family: "Inter var", sans-serif;
  color: #7b9fff;
  font-weight: 700;
  font-style: italic;
  font-size: 16px;
}
.fotosalunos {
  display: flex;
  padding: 5px;
  margin-top: 10px;
}
.minhafoto {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border: 2px solid #1f2937;
  margin-left: -16px;
}
.minhafoto:first-child {
  margin-left: 0px;
}
.video {
  border-radius: 15px;
}
.discord-logo {
  height: 15px;
  background-color: transparent;
}
.workshops {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 0.5px solid rgba(255, 255, 255, 0.1);
  margin: 10px;
}
h4 {
  display: flex;
  font-family: "lexend", sans-serif;
  color: white;
  font-weight: 300;
  font-size: 36px;
  justify-content: center;
  background-image: url(pencil-stroke-subtitle-dark.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  margin-bottom: 0;
}
.transp {
  display: flex;
  justify-content: center;
  color: ;
  font-size: 30px;
  color: transparent;
}
h5 {
  color: white;
  font-family: "lexend", sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding-left: 180px;
  padding-right: 180px;
}
.h5parte2 {
  color: #7b9fff;
  font-style: italic;
  font-weight: 500;
}
.vitrine {
  display: flex;
  flex-wrap: wrap;
  color: white;
  font-family: "lexend", sans-serif;
  flex-direction: column;
  padding-left: 48px;
  padding-right: 48px;
}

.parte-cima {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  justify-content: space-evenly;
}
.parte-baixo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.vitrine1 {
  display: flex;
  background-color: #1e2b38;
  height: 576;
  width: 402;
  border: 5px solid #1e2b38;
  border-radius: 20px;
}

.info-vitrine-1 {
  padding-left: 50px;
  padding-right: 50px;
}

.vitrine2 {
  display: flex;
  background-color: #1e2b38;
  height: 576;
  width: 402;
  border: 5px solid #1e2b38;
  border-radius: 20px;
}

.info-vitrine-2 {
  padding-left: 50px;
  padding-right: 50px;
}
.vitrine3 {
  display: flex;
  background-color: #1e2b38;
  height: 576;
  width: 402;
  border: 5px solid #1e2b38;
  border-radius: 20px;
}

.info-vitrine-3 {
  padding-left: 50px;
  padding-right: 50px;
}
.vitrine4 {
  display: flex;
  background-color: #1e2b38;
  height: 576;
  width: 402;
  border: 5px solid #1e2b38;
  border-radius: 20px;
}

.info-vitrine-4 {
  padding-left: 50px;
  padding-right: 50px;
}
h6 {
  font-family: "lexend", sans-serif;
  color: white;
  font-weight: 300;
  font-size: 36px;
  margin-bottom: 0;
}
.comunidade {
  color: #5282ff;
  font-weight: 300;
}
.plano-vitalicio {
  font-weight: 250;
  color: #7b9fff;
}
.tempo-limitado {
  color: #7b9fff;
  font-weight: 500;
  text-decoration: underline;
}
.secao-pro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 0.5px solid rgba(255, 255, 255, 0.1);
  margin: 10px;
  background-color: #0e141a;
}
.seja-pro {
  background-color: #fbbf24;
  color: #111827;
  padding: 2px;
  border-radius: 6px;
  font-weight: 600;
}
.planos {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}
.gratuito {
  display: flex;
  flex-direction: column;
  background-color: #17212b;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 384px;
  height: 825px;
  border: 1px solid #364c63;
  border-radius: 20px;
}
.pago {
  display: flex;
  flex-direction: column;
  background-color: #17212b;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 384px;
  height: 825px;
  border: 4px solid #5282ff;
  border-radius: 20px;
  box-shadow: 5px 10px 30px #4678b4;
}
.header-gratuito {
  color: white;
  width: 100%;
  font-family: "lexend", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.header-pago {
  width: 100%;
  color: #fbbf24;
  font-family: "lexend", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.vitalicio {
  color: white;
  font-family: "lexend", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.valor-gratuito {
  color: white;
  font-family: "lexend", sans-serif;
  font-weight: 600;
  font-size: 48px;
}
.botao-gratuito {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: white;
  background-color: #232f3a;
  font-family: "lexend", sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #364c63;
  border-radius: 5px;
}
.botao-pago {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: white;
  background-color: #5282ff;
  font-family: "lexend", sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 5px;
}
.beneficios-gratuito {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: left;
}
.divisoria {
  display: flex;
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 30px;
  border-top: 1px solid #364c63;
}
.gratuito-titulo {
  font-family: "lexend", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #7a9efd;
}
.gratuito-tem {
  font-family: "lexend", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: white;
}
.gratuito-nao {
  font-family: "lexend", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: white;
  opacity: 50%;
  text-decoration: line-through;
}
.pago-tem {
  font-family: "lexend", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: white;
}
.parcela {
  font-family: "lexend", sans-serif;
  font-size: 16px;
  font-weight: 200;
  color: white;
  opacity: 50%;
}
.preco-pago {
  color: white;
  font-family: "lexend", sans-serif;
  font-weight: 600;
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 0;
}
.pago-de {
  font-family: "lexend", sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: white;
  opacity: 50%;
  margin-bottom: 1px;
}

.preco-antigo {
  text-decoration: line-through;
}
.valor-pago {
  display: flex;
  flex-direction: column;
}
.pago-de2 {
  font-family: "lexend", sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: white;
  opacity: 50%;
  margin-bottom: 50px;
  margin-top: 0;
}
.check {
  height: 12px;
  widht: 15px;
}
.Xis {
  height: 12px;
  widht: 15px;
}
